html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden !important;
}

code {
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

@media screen and (max-width: 768px) {
  #container {
    display: none;
  }
}
.screen-size-message {
  display: flex;
  color: #fff;
  font-size: 18px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-image: url('../src/assets/images/background/forgotPassword2.jpg');
  text-align: center;
}
@media screen and (min-width: 768px) {
  .screen-size-message {
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.ant-table-thead tr th {
  background: #e5e5e5 !important;
  border-bottom: none !important;
  font-size: 1rem;
  font-weight: bold;
  color: #666666;
}

.ant-table-tbody > tr {
  font-size: 1rem;
  padding: 0 !important;
  color: #666666;
  box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.2);
}

/* .btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
} */

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #e20b8c !important;
}

.ant-tabs-tab-btn {
  font-size: 25px !important;
  color: #666666 !important;
}

.ant-tabs-ink-bar-animated {
  border-bottom: 2px solid #e20b8c !important;
}

.react-loading-skeleton {
  --base-color: #c0c0c0;
  --highlight-color: #c0c0c0 !important;
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block;
  background-color: #c0c0c0 !important;
  width: 100%;
  border-radius: 0.25rem;
  display: inline-flex;
  line-height: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.slick-prev {
  left: 0 !important;
  z-index: 910000 !important;
}
.slick-next {
  right: 1% !important;
  z-index: 910000 !important;
}

.slick-prev:before,
.slick-next:before {
  color: #455afe !important;
  font-size: 2rem !important;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
  position: relative;
  padding: 8px 16px !important;
  overflow-wrap: break-word;
}
